  <div id="navigation">
    <%= link_to "home", wedding_path %>
    <%= link_to "us", us_path %>
    <%= link_to "wedding", weddingday_path %>
    <%= link_to "bridal party", bridalparty_path %>
    <%= link_to "location", location_path %>
    <%= link_to "photos", photos_path %>
    <%= link_to "registry", registry_path %>
    <%= link_to "RSVP", rsvp_path %>
  </div>
