<!DOCTYPE html>
<html>
<head>
  <title>Jordan and Jessie * <%=yield(:title) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div id="main-wrapper">
  <div id="titlebar">Jessie &amp; Jordan</div>
  
      <%= yield %>
  
  <%= debug(params) if Rails.env.development? %>

  <div id="navigation">
	 <%= link_to "home", '#' %>
     <%= link_to "us", '#' %>
     <%= link_to "wedding", '#' %>
     <%= link_to "bridal party", '#' %>
     <%= link_to "location", '#' %>
     <%= link_to "photos", '#' %>
     <%= link_to "registry", '#' %>
     <%= link_to "RSVP", '#' %>
  </div>
    
</body>
</html>
